services:

  postgres:
    image: postgres:17.8-alpine3.23
    restart: always
    ports:
      - "5432:5432"
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      # strictly for local usage, do not push any password to git in real life
      POSTGRES_PASSWORD: example
        
  tomcat:
    build:
      context: ./
      dockerfile: ./tomcat/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - postgres
